<div class="item-wrapper">
  <div class="item-img">
    <img
      src="https://tacir-storage-main-pull-zone.b-cdn.net/1724919916839-acd45c7d7f7578f89948b84251efac46-1_org_zoom (1).webp"
      alt="Aliminyum Qazan">
  </div>
  <div class="item-details-info">
    <div class="item-name">
      <a href="product/view?product_name=Aliminyum Qazan&amp;pid=46b010a8-ec5e-4706-b051-8bf0a2ce8e8a">Aliminyum
        Qazan</a>
    </div>
    <div class="item-category"><a href="/products?product_category=0"><span>Kategoriya 0</span></a></div>
  </div>
  <div class="item-actions" data-pid="46b010a8-ec5e-4706-b051-8bf0a2ce8e8a"> <button class="decrease count-btn">-
    </button><span>1</span><button class="increase count-btn">+</button></div>
  <div class="item-price"><span>18 azn</span></div>
</div>