link(rel="stylesheet", href="/css/partials/categories-section.css")
#container 
    #categories-container 
        #category 
            a(href="/Aliminyum Məhsullar")
                img(src="https://www.shutterstock.com/image-illustration/set-stainless-steel-pots-pans-600nw-2179997991.jpg", alt="Product İMG")
                #category-text Aliminyum Məhsullar 
        #category
            a(href="/Aliminyum Məhsullar")
                img(src="https://m.media-amazon.com/images/I/51ExphiiKjL._AC_.jpg", alt="Product İMG")
                #category-text Plastik Məhsullar
        #category
            a(href="/Aliminyum Məhsullar") 
                img(src="/imgs/example.jpg", alt="Product İMG")
                #category-text Şüşə Məhsullar
        #category
            a(href="/Aliminyum Məhsullar") 
                img(src="https://venettodesign.com/cdn/shop/products/97d1507f-67e4-4259-bff2-a5c8fbbe42a0.jpg?v=1666896846&width=200", alt="Product İMG")
                #category-text Dəstlər
       
