#home-banner 
    img(src="/imgs/banner-main.png" alt="Banner")
    #banner-text
        h1 Eviniz və mətbəxiniz üçün lazım olan hər şey
        h5 Müxtəlif çeşidli məhsullara göz gəzdir
        h2 
            button İndi Al