footer 
    #copyrights  Bütün hüquqlar qorunur @TacirStore  
    #media
        ul 
            li 
                a(href="https://www.instagram.com/tacir_ismayilli") <i class="fa-brands fa-instagram"></i> Instagram
            li 
                a(href="https://wa.me/+994557553155") <i class="fa-brands fa-whatsapp"></i> Whatsapp
            li  
                a(href="https://www.facebook.com/tacir.ismayilli/") <i class="fa-brands fa-facebook"></i> Facebook 